@font-face {
  font-family: "Adobe Caslon Pro Bold";
  font-style: normal;
  font-weight: bold;
  src: url(../font/ACaslonPro-Bold.otf);
}
@font-face {
  font-family: "Adobe Caslon Pro Bold";
  font-style: italic;
  font-weight: bold;
  src: url(../font/ACaslonPro-BoldItalic.otf);
}
@font-face {
  font-family: "Adobe Caslon Pro Bold";
  font-style: oblique;
  font-weight: bold;
  src: url(../font/ACaslonPro-BoldItalic.otf);
}
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: italic;
  font-weight: normal;
  src: url(../font/ACaslonPro-Italic.otf);
}
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: oblique;
  font-weight: normal;
  src: url(../font/ACaslonPro-Italic.otf);
}
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: normal;
  font-weight: normal;
  src: url(../font/ACaslonPro-Regular.otf);
}
@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: normal;
  font-weight: 600;
  src: url(../font/ACaslonPro-Semibold.otf);
}
@font-face {
  font-family: "Avenir Black";
  font-style: normal;
  font-weight: 800;
  src: url(../font/Avenir-Black.ttc);
}
@font-face {
  font-family: "Avenir Medium";
  font-style: italic;
  font-weight: 500;
  src: url(../font/Avenir-MediumOblique.ttc);
}
@font-face {
  font-family: "Avenir Medium";
  font-style: oblique;
  font-weight: 500;
  src: url(../font/Avenir-MediumOblique.ttc);
}
@font-face {
  font-family: "Avenir Next Condensed Demi Bold";
  font-style: normal;
  font-weight: 600;
  font-stretch: condensed;
  src: url(../font/AvenirNextCondensed-DemiBold.ttc);
}
@font-face {
  font-family: "Avenir Next Condensed";
  font-style: normal;
  font-weight: normal;
  font-stretch: condensed;
  src: url(../font/AvenirNextCondensed-Italic.ttc);
}
@font-face {
  font-family: "Avenir Next Condensed Medium";
  font-style: normal;
  font-weight: 500;
  font-stretch: condensed;
  src: url(../font/AvenirNextCondensed-Medium.ttc);
}
@font-face {
  font-family: "Avenir Next Rounded Std";
  font-style: normal;
  font-weight: 600;
  src: url(../font/AvenirNextRoundedStd-Demi.ttf);
}
@font-face {
  font-family: "Avenir Next Rounded Std";
  font-style: italic;
  font-weight: normal;
  src: url(../font/AvenirNextRoundedStd-Italic.ttf);
}
@font-face {
  font-family: "Avenir Next Rounded Std";
  font-style: oblique;
  font-weight: normal;
  src: url(../font/AvenirNextRoundedStd-Italic.ttf);
}
@font-face {
  font-family: "Avenir Next Rounded Std";
  font-style: normal;
  font-weight: normal;
  src: url(../font/AvenirNextRoundedStd-Reg.ttf);
}
@font-face {
  font-family: "Century Schoolbook";
  font-style: normal;
  font-weight: bold;
  src: url(../font/CenturySchoolbook-Bold.TTF);
}
@font-face {
  font-family: "Helvetica Rounded Black";
  font-style: normal;
  font-weight: 900;
  src: url(../font/HelveticaRounded-Black.otf);
}
@font-face {
  font-family: "Helvetica Rounded Condensed";
  font-style: normal;
  font-weight: bold;
  font-stretch: condensed;
  src: url(../font/HelveticaRounded-BoldCond.otf);
}
@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 400;
  src: url(../font/Inconsolata-Bold.ttf);
}
@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: normal;
  src: url(../font/Inconsolata-CondensedRegular.ttf);
}
@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: normal;
  src: url(../font/Inconsolata-Regular.ttf);
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
  margin: 0;
  padding: 0;
  border-width: 0;
}
body {
  -epub-hyphens: auto;
}
@page {
  margin: 10px 10px 20px 10px;
}
div.idGenClearFloat {
  clear: both;
}
div.FloatLeft30 {
  border-color: #636466;
  border-width: 3px;
  border-style: solid;
  float: left;
  margin: 0 0.25em 0 0;
}
div.Basic-Text-Frame {
  border-style: solid;
}
div.floatleft2em {
  border-style: solid;
  float: left;
  margin: 0 0.25em 0 0;
}
table.Table1 {
  border-collapse: collapse;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 6px;
  margin-top: 4px;
}
td.Table1 {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: top;
}
tr.Table1 {
  page-break-after: auto;
  page-break-before: auto;
}
td.CellHead {
  background-color: #000;
  padding-bottom: 9px;
  padding-top: 9px;
  vertical-align: middle;
}
td.CellText {
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  vertical-align: middle;
}
td.CellTextGray {
  background-color: #d1d3d4;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  vertical-align: middle;
}
td.Gray {
  background-color: #d1d3d4;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
  vertical-align: middle;
}
td.White {
  background-color: #fff;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 9px;
  vertical-align: middle;
}
li.Bullets_H2 {
  -epub-hyphens: none;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  list-style-position: outside;
  margin-bottom: 10px;
  margin-left: 36px;
  margin-right: 0;
  margin-top: 10px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
li.Bullets_H3 {
  -epub-hyphens: none;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  list-style-position: outside;
  margin-bottom: 10px;
  margin-left: 36px;
  margin-right: 0;
  margin-top: 10px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.CBC_Heading {
  color: #000;
  font-family: Inconsolata, monospace;
  font-size: 1em;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  widows: 1;
}
pre.CODE_body {
  -epub-hyphens: none;
  color: #000;
  font-family: Inconsolata, monospace;
  font-size: 0.792em;
  font-variant: normal;
  font-variation-settings: "wdth" 100, "wght" 400;
  line-height: 1.474;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
  width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
p.CODE_heading {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Adobe Caslon Pro Bold", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.273;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.Caption {
  -epub-hyphens: none;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: avoid;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
h2.Chapter-- {
  color: #000;
  font-family: "Helvetica Rounded Black", sans-serif;
  font-size: 4.167em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: always;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.Chapter-Sub-title {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.417em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.Chapter-Title {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 2.083em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.ChapterOverview {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 2.111;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.ChapterRecap {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 2.111;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.Definition {
  -epub-hyphens: none;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
h3.H2 {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.H2_Body {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  text-transform: none;
  widows: 1;
}
p.snippet {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  text-transform: none;
  widows: 1;
}
p.H3 {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.167em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18px;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.H3_Body {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  margin-bottom: 10px;
  margin-left: 18px;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.Image-Line {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  orphans: 1;
  page-break-after: avoid;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.IntroParagraph {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.Note {
  -epub-hyphens: none;
  color: #000;
  font-family: "Avenir Next Rounded Std", sans-serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 10px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
li.Numbered-1 {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  list-style-position: outside;
  list-style-type: decimal;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
li.Numbered-2-SA {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  list-style-position: outside;
  list-style-type: decimal;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
li.Numbered-3-SA {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.273;
  list-style-position: outside;
  list-style-type: decimal;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
h2.PART-- {
  color: #000;
  font-family: "Helvetica Rounded Black", sans-serif;
  font-size: 4.167em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: always;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.PART-Sub-title {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.905;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  widows: 1;
}
p.Question {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Adobe Caslon Pro Bold", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.273;
  margin-bottom: 10px;
  margin-left: 18px;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.References {
  -epub-hyphens: none;
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.708em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.294;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.TableHead {
  color: #fff;
  font-family: "Avenir Next Condensed Demi Bold", sans-serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  widows: 1;
}
p.TableText {
  color: #000;
  font-family: "Avenir Next Condensed Medium", sans-serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.TableTextLeft {
  color: #000;
  font-family: "Avenir Next Condensed Medium", sans-serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.TermName {
  -epub-hyphens: none;
  color: #000;
  font-family: "Adobe Caslon Pro Bold", serif;
  font-size: 0.833em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.ToC {
  color: #000;
  font-family: "Helvetica Rounded Black", sans-serif;
  font-size: 4.167em;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 9px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: always;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.ToC-Sub-Entry {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Avenir Medium", sans-serif;
  font-size: 0.792em;
  font-style: italic;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.474;
  margin-bottom: 3px;
  margin-left: 29px;
  margin-right: 0;
  margin-top: 4px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.ToC_Entry {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Avenir Black", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 1.273;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  widows: 1;
}
p.ToC_PART {
  color: #000;
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.583em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: uppercase;
  widows: 1;
}
p.source {
  color: #000;
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.667em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  widows: 1;
}
p.xxx {
  -epub-hyphens: none;
  -epub-text-align-last: left;
  color: #000;
  font-family: "Century Schoolbook", serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.273;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  orphans: 1;
  page-break-after: auto;
  page-break-before: auto;
  text-align: justify;
  text-decoration: none;
  text-indent: 1.5em;
  text-transform: none;
  widows: 1;
}
span.BOLD {
  font-style: normal;
  font-weight: bold;
}
span.Bold {
  font-style: normal;
  font-weight: bold;
}
code.CODE {
  font-family: Inconsolata, monospace;
  font-variation-settings: "wdth" 100, "wght" 400;
  font-size: 0.9em;
}
code.CODEcondensed {
  font-family: Inconsolata, monospace;
  font-variation-settings: "wdth" 75, "wght" 400;
}
code.CodeBold {
  font-family: Inconsolata, monospace;
  font-variation-settings: "wdth" 100, "wght" 700;
}
span.DemiBold {
  font-style: normal;
  font-weight: bold;
}
span.Note-Demi-bold {
  font-style: normal;
  font-weight: normal;
}
span.Semi-Bold {
  font-style: normal;
  font-weight: bold;
}
span.glossaryterm {
  font-style: italic;
  font-weight: bold;
}
span.italic {
  font-style: italic;
  font-weight: normal;
}
h2.idGenParaOverride-1, p.idGenParaOverride-1 {
  page-break-after: always;
}
span.idGenCharOverride-1 {
  font-family: "Adobe Caslon Pro Bold";
}
span.idGenCharOverride-2 {
  font-family: "Adobe Caslon Pro";
}
span.idGenCharOverride-3 {
  font-family: "Avenir Next Rounded Std";
}
span.idGenCharOverride-4 {
  font-family: "Avenir Next Condensed Demi Bold";
}
span.idGenCharOverride-5 {
  font-family: "Avenir Next Condensed";
}
td.idGenCellOverride-1 {
  border-top-color: #000;
  border-top-style: solid;
  border-top-width: 1px;
}
#idContainer039 {
  width: 1.25em;
}
#idContainer096 {
  display: inline-block;
  height: 129px;
  width: 218px;
}
#idContainer098 {
  display: inline-block;
  height: 59px;
  width: 191px;
}
#idContainer157 {
  width: 30%;
}
img.idGenObjectAttribute-1 {
  width: 100%;
}
img.idGenObjectAttribute-2 {
  width: 30%;
}
img.idGenObjectAttribute-3 {
  width: 60%;
}
img.idGenObjectAttribute-4 {
  height: 100%;
  min-width: 100%;
  width: 100%;
}
div.idGenObjectStyle-Disabled {
  background-color: transparent;
  border-width: 0;
}
div.idGenObjectLayout-2 {
  text-align: center;
}
/**************/
/* TYPOGRAPHY */
/**************/
h1, h2, h3, h4, h5, h6, dt, pre, address, caption, .align-left, .align-center, .align-right, .caption, .no-hyphens, .toc-entry, .list-entry, .copyright-statement, .copyright, .dedication, .marked-list-item, .marked-list-item1, .std-paragraph, .padded-paragraph, .code, .stop-section-link, .stop-section-note, .feedback, .feedback-link, .highlighted, .glossary-entry, .glossary-definition {
  adobe-hyphenate: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, dt, hr {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid;
}
.chapter-title {
  font-family: "Helvetica Rounded Black", sans-serif;
  font-size: 3em;
  line-height: 1.4;
  text-align: left;
}
.chapterOverview-title {
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.6em;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 10px;
}
.subChapter-title {
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.6em;
  line-height: 1.4;
  text-align: left;
  margin: 1em 0 0.2em 0;
  page-break-after: avoid;
}
.stop-section-title {
  font-family: "Helvetica Rounded Black", sans-serif;
  font-size: 1.5em;
  line-height: 1.3em;
  text-align: center;
  page-break-after: avoid;
}
.stop-section-link {
  font-family: "Helvetica Rounded Condensed", sans-serif;
  text-align: center;
  width: 90%;
  margin: 0 2.5%;
  border: 2px solid #000;
  background-color: #e7e7e8;
  padding: 0.5em 2%;
  page-break-after: avoid;
}
.stop-section-note {
  font-family: "AvenirNext LT Pro Regular", sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;
  text-align: center;
  width: 88%;
  margin: 0.5em 6% 0 6%;
}
.chapterRecap-title {
  font-family: "Helvetica Rounded Condensed", sans-serif;
  font-size: 1.3em;
  line-height: 1.4;
  text-align: left;
  margin: 0 0 1em 0;
  page-break-after: avoid;
}
.copyright {
  font-family: "Adobe Caslon Pro", serif;
  font-size: 0.875em;
  line-height: 1.4;
  text-align: center;
  margin-top: 5px;
}
.std-paragraph {
  text-align: justify;
  text-indent: 1em;
}
.marked-list-item {
  text-align: left;
  font-family: "Adobe Caslon Pro";
}
.marked-list-item1 {
  text-align: left;
  font-family: "Avenir Next Rounded Std";
  font-size: 0.875em;
}
/********************/
/* MICRO TYPOGRAPHY */
/********************/
b {
  font-weight: bold;
}
/*********************/
/* FIGURES + IMAGES  */
/*********************/
figure {
  page-break-inside: avoid;
  break-inside: avoid;
}
@supports not ((page-break-inside: avoid) and (break-inside: avoid)) {
  figure {
    -webkit-column-break-inside: avoid;
    }
  }
img {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.portrait {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (height: 99vh) {
  img.img-portrait {
    height: 99vh;
    }
  }
/*********/
/* LISTS */
/*********/
ul, ol {
  text-align: left;
}
.marked {
  padding-left: 5%;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 5px;
}
.marked li {
  padding-left: 7%;
  text-indent: 0%;
}
.marked li:before {
  content: "»";
  display: block;
  float: left;
}
.marked1 {
  padding-left: 5%;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 5px;
}
.marked1 li {
  padding-left: 3%;
  text-indent: 3%;
}
.marked1 li:before {
  content: "»";
  display: block;
  float: left;
}
/*********/
/* LINKS */
/*********/
a {
  color: inherit;
  -webkit-text-fill-color: inherit;
}
/*************************************/
/* HORIZONTAL RULES — CONTEXT BREAKS */
/*************************************/
/********/
/* CODE */
/********/
/*************************************************/
/* MODIFICATION RULES - to modify specific rules */
/*************************************************/
/*************************/
/* CONTAINERS — WRAPPERS */
/*************************/
.chapterOverview-wrap {
  width: 96%;
  margin: 1.5em 0;
  background-color: #e7e7e8;
  border-top: 5px solid CurrentColor;
  padding: 1em 2%;
}
.chapterRecap-wrap {
  width: 93%;
  margin: 1.5em 0;
  padding: 1em 5% 1em 2%;
  background-color: #e7e7e8;
  border-top: 5px solid CurrentColor;
}
.copyrightLogo-wrap {
  width: 60%;
  margin: 1.5em 20%;
}
.digitalAssetsReference-wrap {
  page-break-inside: avoid;
  break-inside: avoid;
}
.standard-box {
  width: 84%;
  margin: 1.5em 5%;
  padding: 0 3% 0.5em 3%;
  border: 0.0625em solid currentColor;
  background-color: #e7e7e7;
}
.white2 {
  width: 84%;
  margin: 0.5em 5% 1.5em 5%;
  padding: 0 3% 0.5em 3%;
  border: 0.0625em solid currentColor;
  background-color: #d9d9d9;
}
.oyo {
  width: 94%;
  margin: 1.5em 2%;
  padding: 0 1% 0.5em 1%;
  border: 0.0625em solid currentColor;
  background-color: #bebebe;
}
.standard-box1 {
  width: 84%;
  margin: 1.5em 5%;
  padding: 0 3% 0.5em 3%;
  border: 0.0625em solid currentColor;
  background-color: #fff;
}
.whitebox {
  width: 100%;
  margin: 1.5em 0;
  padding: 0 0 0 0;
  border: 0;
  background-color: #fff;
  page-break-inside: avoid;
}
.horizontal-image-wrap {
  width: auto;
  margin: 1.5em 0;
  text-align: center;
}
.horizontal-image-wrap2 {
  width: auto;
  margin: 1.5em 0 0 0;
  text-align: center;
}
.wrap-80 {
  width: 78%;
  margin: 1.5em 11%;
}
.wrap-60 {
  width: 58%;
  margin: 1.5em 11%;
}
.wrap-80NM {
  width: 78%;
  margin: 1.5em 11% 0 11%;
}
/**********/
/* Widths */
/**********/
.w-100 {
  width: 100%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-30 {
  width: 30%;
}
.w-10 {
  width: 10%;
}
.w-5 {
  width: 5%;
}
/***********/
/* Heights */
/***********/
.h-100 {
  height: 99%;
}
@supports (height: 100vh) {
  .h-100 {
    height: 99vh;
    }
  }
/*************/
/* UTILITIES */
/*************/
/***********/
/* Display */
/***********/
/**********/
/* Floats */
/**********/
/**************/
/* Text align */
/**************/
.align-center {
  text-indent: 0;
  text-align: center;
}
/***********/
/* Margins */
/***********/
.no-margin {
  margin: 0;
}
.margin-bottom-s {
  margin-bottom: 0.75em;
}
.margin-bottom-m {
  margin-bottom: 1.5em;
}
/***********/
/* Hyphens */
/***********/
/***********/
/* Indents */
/***********/
.no-indent {
  text-indent: 0;
}
/**************/
/* Font sizes */
/**************/
.fs-s {
  font-size: 0.875em;
  line-height: 1.7143;
}
/***************/
/* Font styles */
/***************/
.underline {
  text-decoration: underline;
}
/***************/
/* PAGE BREAKS */
/***************/
/********************/
/* COLOURS Palettes */
/********************/
/*****************/
/* MEDIA QUERIES */
/*****************/
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  ul, ol {
    padding-left: 10%;
    text-align: left;
  }
}
/***********/
/* END CSS */
/***********/
