@font-face {
	font-family: "Charis";
	src: url(fonts/CharisSILR.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Charis";
	src: url(fonts/CharisSILB.ttf);
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Charis";
	src: url(fonts/CharisSILI.ttf);
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Charis";
	src: url(fonts/CharisSILBI.ttf);
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: "GaramondPremrPro";
	src: url(fonts/GaramondPremrPro.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Granjon";
	src: url(fonts/Granjon.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Granjon";
	src: url(fonts/Granjon-Bold.otf);
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Granjon";
	src: url(fonts/Granjon-Italic.otf);
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "TradeGothicLTStd-BdCn20";
	src: url(fonts/TradeGothicLTStd-BdCn20.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "TradeGothicLTStd-Cn18";
	src: url(fonts/TradeGothicLTStd-Cn18.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "AvenirLTStd-Medium";
	src: url(fonts/AvenirLTStd-Medium.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "UniversLTStd-Black";
	src: url(fonts/UniversLTStd-Black.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "UniversLTStd-BoldCn";
	src: url(fonts/UniversLTStd-BoldCn.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "UniversLTStd-LightCn";
	src: url(fonts/UniversLTStd-LightCn.otf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "UniversLTStd-UltraCn";
	src: url(fonts/UniversLTStd-UltraCn.otf);
	font-style: normal;
	font-weight: normal;
}
body
{
     font-family: "Charis";
     line-height: 1.2em;
}
svg
{
	height: 98%;
	width: 100%;
}