@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Calibri";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/00001.ttf)
    }
@font-face {
    font-family: "Calibri";
    font-style: italic;
    font-weight: bold;
    src: url(fonts/00002.ttf)
    }
@font-face {
    font-family: "Calibri";
    font-style: italic;
    font-weight: normal;
    src: url(fonts/00003.ttf)
    }
@font-face {
    font-family: "Calibri";
    font-style: normal;
    font-weight: bold;
    src: url(fonts/00004.ttf)
    }
@font-face {
    font-family: "Gotham Condensed Bold";
    font-style: normal;
    font-weight: bold;
    src: url(fonts/00005.otf)
    }
@font-face {
    font-family: "Trade Gothic LT Std Cn";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/00006.otf)
    }
@font-face {
    font-family: "Univers Condensed";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/00007.ttf)
    }
