.bk {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 0.5em 1.5em 0
    }
.blu {
    color: #2A4B7E
    }
.box {
    background-color: #e7e7e8;
    display: block;
    font-size: 1em;
    margin: 0.5em 0;
    padding: 5px 20px 30px;
    border: black solid 0
    }
.calibre {
    display: block;
    font-family: "Times New Roman" sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre4 {
    text-decoration: none
    }
.calibre5 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    display: block;
    line-height: 1.2;
    margin: 0
    }
.calibre10 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0.5em;
    margin-right: 0;
    margin-top: 0.5em
    }
.calibre11 {
    display: list-item;
    margin-bottom: 0.5em
    }
.calibre12 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0.5em;
    margin-right: 0;
    margin-top: 0.5em
    }
.calibre13 {
    color: black;
    line-height: 1.2;
    text-decoration: none
    }
.calibre14 {
    font-style: italic;
    line-height: 1.2
    }
.calibre15 {
    color: black;
    text-decoration: none
    }
.calibre16 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0.5em;
    margin-right: 0;
    margin-top: 0.5em
    }
.center {
    display: block;
    font-size: 1em;
    text-align: center;
    margin: 0.5em 0 0
    }
.chc {
    display: block;
    font-family: "Gotham Condensed Bold";
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.chn {
    display: block;
    font-family: "Gotham Condensed Bold";
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0 0;
    border-bottom: currentColor solid 1px
    }
.imgc {
    display: block;
    text-align: center;
    margin: 0.8em 0
    }
.ind {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: -1.2em;
    margin: 0 0 0 1.2em
    }
.inda {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: -1.2em;
    margin: 0 0 0 2em
    }
.no {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: -1.2em;
    margin: 0.3em 0 0 2.7em
    }
.noa {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: -1.2em;
    margin: 0.3em 0 0 3.8em
    }
.noindent {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 0.8em 0 0
    }
.noindent1 {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.noindent1a {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 1.5em 0 0
    }
.noindent1b {
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 0;
    margin: 0.5em 0 0
    }
.para {
    display: block;
    font-family: "Calibri";
    font-size: 0.75em;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.para1 {
    display: block;
    font-family: "Calibri";
    font-size: 0.75em;
    text-align: justify;
    text-indent: 0;
    margin: 0.5em 0 0
    }
.para1a {
    display: block;
    font-family: "Calibri";
    font-size: 0.75em;
    text-align: justify;
    text-indent: 0;
    margin: 1.5em 0 0
    }
.pt {
    display: block;
    font-family: "Gotham Condensed Bold";
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0 0;
    border-bottom: #000 solid 1px
    }
.pta {
    display: block;
    font-family: "Gotham Condensed Bold";
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: center;
    margin: 0.5em 0 1em
    }
.sc {
    display: block;
    font-family: "Calibri";
    font-size: 0.75em;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0.5em
    }
.sca {
    display: block;
    font-family: "Calibri";
    font-size: 1.125em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0.5em
    }
.scl {
    display: block;
    font-family: "Gotham Condensed Bold";
    font-size: 1.125em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0.8em 0 0
    }
.secl {
    display: block;
    font-family: "Gotham Condensed Bold";
    font-size: 1.66667em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0.8em 0 0
    }
.sigilnotintoc {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.text {
    display: block;
    font-family: "Calibri";
    font-size: 0.75em;
    text-align: left;
    margin: 0
    }
.text1 {
    display: block;
    font-family: "Calibri";
    font-size: 0.75em;
    text-align: left;
    margin: 0.5em 0 0
    }
.text1a {
    display: block;
    font-family: "Calibri";
    font-size: 0.75em;
    text-align: left;
    margin: 1em 0 0
    }
.toc {
    display: block;
    font-family: "Univers Condensed";
    font-size: 1em;
    text-align: left;
    text-indent: 0;
    margin: 0.5em 0 0
    }
.toca {
    display: block;
    font-family: "Trade Gothic LT Std Cn";
    font-size: 1em;
    text-align: left;
    text-indent: 0;
    margin: 0.5em 0 0
    }
.tocb {
    display: block;
    font-family: "Trade Gothic LT Std Cn";
    font-size: 1em;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
