ul, ol { margin:0em; padding:0em; }
th, td { vertical-align:top; text-align:left; }

a:link { color: blue; text-decoration: underline; }

h1 {
font-weight: bold;
font-style: normal;
font-size: 1.33em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h2 {
font-weight: bold;
font-style: italic;
font-size: 1.17em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h3 {
font-weight: bold;
font-style: normal;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h4 {
font-weight: bold;
font-style: italic;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h5 {
font-weight: bold;
font-style: normal;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h6 {
font-weight: bold;
font-style: normal;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Normal {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Body_Text {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.84em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Body_Text_First_Indent {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 1.20em;
}

h1.P_Heading_1, h2.P_Heading_1, h3.P_Heading_1, h4.P_Heading_1, h5.P_Heading_1, h6.P_Heading_1 {
font-weight: bold;
font-size: 1.33em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h1.P_Heading_2, h2.P_Heading_2, h3.P_Heading_2, h4.P_Heading_2, h5.P_Heading_2, h6.P_Heading_2 {
font-weight: bold;
font-style: italic;
font-size: 1.17em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h1.P_Heading_3, h2.P_Heading_3, h3.P_Heading_3, h4.P_Heading_3, h5.P_Heading_3, h6.P_Heading_3 {
font-weight: bold;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h1.P_Heading_4, h2.P_Heading_4, h3.P_Heading_4, h4.P_Heading_4, h5.P_Heading_4, h6.P_Heading_4 {
font-weight: bold;
font-style: italic;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h1.P_Heading_5, h2.P_Heading_5, h3.P_Heading_5, h4.P_Heading_5, h5.P_Heading_5, h6.P_Heading_5 {
font-weight: bold;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

h1.P_Heading_6, h2.P_Heading_6, h3.P_Heading_6, h4.P_Heading_6, h5.P_Heading_6, h6.P_Heading_6 {
font-weight: bold;
font-size: 1.00em;
adobe-hyphenate: none;
hyphens: none;
-moz-hyphens: none;
-webkit-hyphens: none;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.80em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Headers {
font-size: 1.00em;
text-transform: uppercase;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Footers {
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_HTML {
font-size: 0.83em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Preformatted {
font-size: 0.83em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Centre {
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Right {
font-size: 1.00em;
text-align: right;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC_Heading {
font-weight: bold;
font-size: 1.33em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC_Entry_1 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.50em;
margin-bottom: 0.50em;
margin-left: 1.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC_Entry_2 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 2.40em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC_Entry_3 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 3.60em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC_Entry_4 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 4.80em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC_Entry_5 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 6.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC_Entry_6 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 7.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Index_Heading {
font-weight: bold;
font-size: 1.33em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Index_Group_Heading {
font-weight: bold;
font-size: 1.17em;
text-align: left;
margin-top: 1.20em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Index_Entry_1 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 1.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Index_Entry_2 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 2.40em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Index_Entry_3 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 3.60em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Index_Entry_4 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 4.80em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Endnotes_Heading {
font-weight: bold;
font-size: 1.33em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Footnote {
font-size: 0.83em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Endnotes_Group {
font-size: 1.17em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Picture_Caption {
font-style: italic;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Table_Caption {
font-style: italic;
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Bibliography_Heading {
font-weight: bold;
font-size: 1.33em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Bibliography_Group {
font-size: 1.17em;
text-align: left;
margin-top: 1.20em;
margin-bottom: 1.20em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Bibliography_Entry {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 1.80em;
margin-right: 0.00em;
text-indent: -1.80em;
}

p.P_Only_Epub {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_Lulu_Epub {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_Epub_3 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_Mobipocket {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_OpenDocument {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_Smashwords_OpenDocument {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_Text {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_HTML {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_MP3 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_HTB {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_CHM {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_CBZ {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Only_DAISY {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_List_Paragraph {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Normal__OPENPAR_Web_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.36em;
margin-bottom: 0.36em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

div.P_Book_Title1 {
font-weight: bold;
font-size: 1.50em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.28em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Book_Sub {
font-size: 1.17em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 2.54em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Author_Name {
font-weight: bold;
font-size: 1.17em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

div.P_Copyright, p.P_Copyright {
font-size: 0.67em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_AH1_left {
font-weight: bold;
font-size: 1.50em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.28em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC1_sb {
font-size: 0.83em;
text-align: left;
margin-top: 1.06em;
margin-bottom: 0.42em;
margin-left: 2.56em;
margin-right: 0.00em;
text-indent: -1.28em;
}

div.P_No_Indent_SA, p.P_No_Indent_SA {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.56em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Flush_Right {
font-size: 1.00em;
text-align: right;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_AH2_-14_Emph {
font-weight: bold;
font-style: italic;
font-size: 1.17em;
text-align: left;
margin-top: 1.28em;
margin-bottom: 0.84em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_AH2-14 {
font-weight: bold;
font-size: 1.17em;
text-align: left;
margin-top: 1.28em;
margin-bottom: 0.84em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

div.P_Captions, p.P_Captions {
font-weight: bold;
font-size: 0.83em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.84em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_AH2_Center {
font-weight: bold;
font-size: 1.33em;
text-align: center;
margin-top: 1.28em;
margin-bottom: 0.84em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_No_Indent_Green {
font-size: 1.00em;
color: #9BBB59;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.56em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_No_Indent_Orange {
font-size: 1.00em;
color: #F79646;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.56em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_AH3-12 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 0.84em;
margin-bottom: 0.42em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_TOC1 {
font-size: 0.83em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.42em;
margin-left: 2.56em;
margin-right: 0.00em;
text-indent: -1.28em;
}

p.P_TOC2 {
font-weight: bold;
font-size: 1.00em;
text-align: left;
margin-top: 1.06em;
margin-bottom: 0.42em;
margin-left: 1.28em;
margin-right: 0.00em;
text-indent: -1.28em;
}

div.P_Captions_No_Space_After, p.P_Captions_No_Space_After {
font-weight: bold;
font-size: 0.83em;
text-align: center;
margin-top: 0.84em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

div.P_Book_Title1__And__Page_Break, p.P_Book_Title1__And__Page_Break {
font-weight: bold;
font-size: 1.50em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 1.28em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Copyright__And__Page_Break {
font-size: 0.67em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_AH1_left__And__Page_Break {
font-weight: bold;
font-size: 1.50em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 1.28em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Spacing_Before__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: left;
margin-top: 0.18em;
margin-bottom: 0.60em;
margin-left: 1.28em;
margin-right: 0.00em;
text-indent: -1.28em;
line-height: 130.00%;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Right_Indent__And__Spacing_Before__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: left;
margin-top: 0.02em;
margin-bottom: 0.60em;
margin-left: 1.28em;
margin-right: 1.06em;
text-indent: -1.28em;
line-height: normal;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Right_Indent__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 1.28em;
margin-right: 1.12em;
text-indent: -1.28em;
line-height: normal;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Right_Indent__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_1_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.02em;
margin-bottom: 0.60em;
margin-left: 1.28em;
margin-right: 1.12em;
text-indent: -1.28em;
line-height: normal;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 1.28em;
margin-right: 0.00em;
text-indent: -1.28em;
line-height: 110.00%;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Right_Indent__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_2_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.38em;
margin-bottom: 0.60em;
margin-left: 1.28em;
margin-right: 1.12em;
text-indent: -1.28em;
line-height: normal;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Right_Indent__And__Spacing_After__And__Spacing_Before__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: left;
margin-top: 0.52em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Right_Indent__And__Spacing_After__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_1_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_List_Paragraph__And__Times_New_Roman__And__12pt__And__Left_Alignment__And__Left_Indent__And__Right_Indent__And__Spacing_After__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_2_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.36em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

li.P_ListItem {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
margin-left: 2.20em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 130.00%;
}

p.P_ListParagraph {
text-align: left;
margin-top: 0.18em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 130.00%;
}

li.P_ListItem_1 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
margin-left: 2.20em;
margin-right: 1.06em;
text-indent: 0.00em;
line-height: normal;
}

p.P_ListParagraph_1 {
text-align: left;
margin-top: 0.02em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.06em;
text-indent: 0.00em;
line-height: normal;
}

li.P_ListItem_2 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
margin-left: 2.20em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_ListParagraph_2 {
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_ListParagraph_3 {
text-align: left;
margin-top: 0.02em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

li.P_ListItem_3 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
margin-left: 2.20em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 110.00%;
}

p.P_ListParagraph_4 {
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 110.00%;
}

p.P_ListParagraph_5 {
text-align: left;
margin-top: 0.38em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

li.P_ListItem_4 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
margin-left: 2.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_ListParagraph_6 {
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_ListParagraph_7 {
text-align: left;
margin-top: 0.52em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_ListParagraph_8 {
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_ListParagraph_9 {
text-align: left;
margin-top: 0.36em;
margin-bottom: 0.30em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

li.P_ListItem_5 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
margin-left: 2.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_ListParagraph_10 {
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

li.P_ListItem_6 {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
margin-left: 2.20em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_ListParagraph_11 {
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.56em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_List_Paragraph__And__Spacing_Before__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: left;
margin-top: 0.18em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 130.00%;
}

p.P_List_Paragraph__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 110.00%;
}

p.P_List_Paragraph__And__Line_Spacing__And__Tabs__OPENPAR_3_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 130.00%;
}

p.P_List_Paragraph__And__Justification__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 110.00%;
}

p.P_List_Paragraph__And__Justification__And__Right_Indent__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_1_CLOSEPAR_ {
font-size: 1.00em;
text-align: justify;
margin-top: 0.02em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_Normal__And__Centre_Alignment__And__Left_Indent__And__Right_Indent__And__Spacing_Before {
font-size: 1.00em;
text-align: center;
margin-top: 0.34em;
margin-bottom: 0.00em;
margin-left: 5.08em;
margin-right: 3.44em;
text-indent: 0.00em;
}

p.P_List_Paragraph__And__Line_Spacing__And__Tabs__OPENPAR_4_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 130.00%;
}

p.P_List_Paragraph__And__Line_Spacing__And__Tabs__OPENPAR_5_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 110.00%;
}

p.P_List_Paragraph__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_3_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.18em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 130.00%;
}

p.P_List_Paragraph__And__Right_Indent__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_5_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.02em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.48em;
text-indent: 0.00em;
line-height: normal;
}

p.P_List_Paragraph__And__Justification__And__Line_Spacing__And__Tabs__OPENPAR_1_CLOSEPAR_ {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 130.00%;
}

p.P_List_Paragraph__And__Right_Indent__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_List_Paragraph__And__Right_Indent__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_1_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.02em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_List_Paragraph__And__Right_Indent__And__Spacing_Before__And__Line_Spacing__And__Tabs__OPENPAR_2_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.38em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_Normal__And__Centre_Alignment__And__Left_Indent__And__Line_Spacing {
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 1.64em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 130.00%;
}

p.P_List_Paragraph__And__Right_Indent__And__Line_Spacing__And__Tabs__OPENPAR_1_CLOSEPAR_ {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.06em;
text-indent: 0.00em;
line-height: normal;
}

p.P_Normal__And__Centre_Alignment__And__Left_Indent__And__Right_Indent__And__Spacing_Before__OPENPAR_1_CLOSEPAR_ {
font-size: 1.00em;
text-align: center;
margin-top: 0.80em;
margin-bottom: 0.00em;
margin-left: 5.06em;
margin-right: 3.44em;
text-indent: 0.00em;
}

li.P_ListItem_7 {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
padding-left: 0.20em;
margin-left: 1.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_ListParagraph_12 {
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_List_Paragraph__And__Justification__And__Right_Indent__And__Line_Spacing__And__Tabs {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 1.12em;
text-indent: 0.00em;
line-height: normal;
}

p.P_Normal__And__Centre_Alignment__And__Left_Indent__And__Spacing_Before {
font-size: 1.00em;
text-align: center;
margin-top: 0.36em;
margin-bottom: 0.00em;
margin-left: 0.38em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_Normal__And__Centre_Alignment__And__Left_Indent__And__Spacing_Before__And__Tabs {
font-size: 1.00em;
text-align: center;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.36em;
margin-right: 0.00em;
text-indent: 0.00em;
}

p.P_List_Paragraph__And__Justification__And__Line_Spacing__And__Tabs__OPENPAR_3_CLOSEPAR_ {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.60em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 140.00%;
}

p.P_No_Indent_SA__And__Line_Spacing {
font-size: 1.00em;
text-align: justify;
margin-top: 0.00em;
margin-bottom: 0.56em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: 150.00%;
}

p.P_Normal__And__Spacing_Before__And__Line_Spacing {
font-size: 1.00em;
text-align: left;
margin-top: 0.02em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: normal;
}

p.P_Normal__And__Justification__And__Left_Indent__And__Right_Indent__And__Spacing_Before__And__Line_Spacing {
font-size: 1.00em;
text-align: justify;
margin-top: 0.34em;
margin-bottom: 0.00em;
margin-left: 2.12em;
margin-right: 0.48em;
text-indent: 0.00em;
line-height: normal;
}

p.P_Normal__And__Line_Spacing {
font-size: 1.00em;
text-align: left;
margin-top: 0.00em;
margin-bottom: 0.00em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
line-height: normal;
}

p.P_AH2-14__And__Page_Break {
font-weight: bold;
font-size: 1.17em;
text-align: left;
margin-top: 1.28em;
margin-bottom: 0.84em;
margin-left: 0.00em;
margin-right: 0.00em;
text-indent: 0.00em;
}

.C_Citation {
}

.C_Comment_Text {
background-color: #FEFFBB;
}

.C_Comment_Content {
background-color: #D9DAFF;
}

.C_URL {
text-decoration: underline !important;
color: #0000FF;
}

.C_HTML_Text {
font-size: 10pt;
color: #808080;
}

.C_Drop_Caps {
line-height: 90%;
height: 0.75em;
font-size: 280%;
margin-right: 0.075em;
float:left;
}
.C_Small_Caps {
font-size: 8pt;
}

.C_Current__And__Properties {
letter-spacing: -0.10mm;
}

.C_Current__And__6pt {
font-size: 6pt;
}

.C_Current__And__Italic {
font-style: italic;
}

.C_Current__And__Properties__OPENPAR_1_CLOSEPAR_ {
letter-spacing: 0.90mm;
}

.C_Current__And__Properties__OPENPAR_2_CLOSEPAR_ {
letter-spacing: 1.00mm;
}

.C_Current__And__Properties__OPENPAR_3_CLOSEPAR_ {
letter-spacing: 0.50mm;
}

.C_Current__And__Properties__OPENPAR_4_CLOSEPAR_ {
letter-spacing: -0.40mm;
}

.C_Current__And__Superscript {
font-size: 9pt;
vertical-align: super;
}

.C_Current__And__Properties__OPENPAR_5_CLOSEPAR_ {
letter-spacing: 0.40mm;
}

.C_Current__And__Properties__OPENPAR_6_CLOSEPAR_ {
letter-spacing: -0.20mm;
}

.C_Current__And__Properties__OPENPAR_7_CLOSEPAR_ {
letter-spacing: 0.10mm;
}

.C_Current__And__Properties__OPENPAR_8_CLOSEPAR_ {
letter-spacing: 0.20mm;
}

.C_Current__And__Blue_Text__And__Underline {
text-decoration: underline !important;
color: #0000FF;
}

.C_Current__And__No_Italic {
font-style: normal;
}

.C_Current__And__Properties__OPENPAR_9_CLOSEPAR_ {
letter-spacing: 0.80mm;
}

.C_Current__And__Properties__OPENPAR_10_CLOSEPAR_ {
letter-spacing: 0.60mm;
}

.C_Current__And__Properties__OPENPAR_11_CLOSEPAR_ {
letter-spacing: 0.30mm;
}

.C_Current__And__Coloured_Text__OPENPAR_1_CLOSEPAR_ {
color: #231F20;
}

.C_Current__And__Properties__And__Coloured_Text {
color: #231F20;
letter-spacing: 0.50mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_1_CLOSEPAR_ {
color: #231F20;
letter-spacing: 0.20mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_2_CLOSEPAR_ {
color: #231F20;
letter-spacing: -0.10mm;
}

.C_Current__And__Properties__OPENPAR_12_CLOSEPAR_ {
letter-spacing: 0.70mm;
}

.C_Current__And__9pt__And__Italic {
font-style: italic;
font-size: 9pt;
}

.C_Current__And__9pt {
font-size: 9pt;
}

.C_Current__And__Properties__OPENPAR_13_CLOSEPAR_ {
letter-spacing: -0.30mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_3_CLOSEPAR_ {
color: #231F20;
letter-spacing: -0.40mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_4_CLOSEPAR_ {
color: #231F20;
letter-spacing: -0.30mm;
}

.C_Current__And__Properties__And__6pt {
font-size: 6pt;
letter-spacing: 0.30mm;
}

.C_Current__And__Adobe_Caslon_Pro_Bold__And__Bold {
font-weight: bold;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_7_CLOSEPAR_ {
color: #231F20;
letter-spacing: 0.80mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_8_CLOSEPAR_ {
color: #231F20;
letter-spacing: -0.20mm;
}

.C_Current__And__Bold {
font-weight: bold;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_5_CLOSEPAR_ {
color: #231F20;
letter-spacing: 1.00mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_6_CLOSEPAR_ {
color: #231F20;
letter-spacing: 0.40mm;
}

.C_Current__And__Coloured_Text__And__Adobe_Caslon_Pro_Bold__And__9pt__And__Bold__And__Italic {
font-weight: bold;
font-style: italic;
font-size: 9pt;
color: #231F20;
}

.C_Current__And__Coloured_Text__And__Adobe_Caslon_Pro_Bold__And__9pt__And__Bold {
font-weight: bold;
font-size: 9pt;
color: #231F20;
}

.C_Current__And__Coloured_Text__And__6pt {
font-size: 6pt;
color: #231F20;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_9_CLOSEPAR_ {
color: #231F20;
letter-spacing: 0.10mm;
}

.C_Current__And__Properties__And__Italic__OPENPAR_1_CLOSEPAR_ {
font-style: italic;
letter-spacing: 0.20mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_10_CLOSEPAR_ {
color: #231F20;
letter-spacing: 0.90mm;
}

.C_Current__And__Adobe_Caslon_Pro_Bold__And__Bold__And__Italic {
font-weight: bold;
font-style: italic;
}

.C_Current__And__Coloured_Text__And__Adobe_Caslon_Pro_Bold__And__Bold__And__Italic {
font-weight: bold;
font-style: italic;
color: #231F20;
}

.C_Current__And__Cambria_Math {
}

.C_Current__And__Coloured_Text__And__Italic {
font-style: italic;
color: #231F20;
}

.C_Current__And__Properties__And__Coloured_Text__And__Italic {
font-style: italic;
color: #231F20;
letter-spacing: 0.40mm;
}

.C_Current__And__Coloured_Text__And__Arial__And__16pt__And__Bold {
font-weight: bold;
font-size: 16pt;
color: #231F20;
}

.C_Current__And__Coloured_Text__OPENPAR_2_CLOSEPAR_ {
color: #F49E50;
}

.C_Current__And__Coloured_Text__OPENPAR_3_CLOSEPAR_ {
color: #95A63A;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_11_CLOSEPAR_ {
color: #95A63A;
letter-spacing: 0.50mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_12_CLOSEPAR_ {
color: #231F20;
letter-spacing: 0.30mm;
}

.C_Current__And__Coloured_Text__And__Avenir_LT_Std_55_Roman__And__10pt__And__Underline {
font-size: 10pt;
text-decoration: underline !important;
color: #231F20;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_13_CLOSEPAR_ {
color: #231F20;
letter-spacing: 0.70mm;
}

.C_Current__And__Properties__OPENPAR_14_CLOSEPAR_ {
letter-spacing: -0.70mm;
}

.C_Current__And__Properties__And__Italic__OPENPAR_2_CLOSEPAR_ {
font-style: italic;
letter-spacing: 0.60mm;
}

.C_Current__And__Coloured_Text__And__Adobe_Caslon_Pro_Bold__And__Bold {
font-weight: bold;
color: #F49E50;
}

.C_Current__And__Properties__And__Coloured_Text__And__Adobe_Caslon_Pro_Bold__And__Bold {
font-weight: bold;
color: #F49E50;
letter-spacing: 0.70mm;
}

.C_Current__And__Underline {
text-decoration: underline !important;
}

.C_Current__And__Properties__And__Italic__OPENPAR_3_CLOSEPAR_ {
font-style: italic;
letter-spacing: 0.40mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_14_CLOSEPAR_ {
color: #231F20;
letter-spacing: -0.60mm;
}

.C_Current__And__Coloured_Text__And__Bold {
font-weight: bold;
color: #FD8008;
}

.C_Current__And__Coloured_Text__And__Bold__OPENPAR_1_CLOSEPAR_ {
font-weight: bold;
color: #408002;
}

.C_Current__And__Properties__And__Coloured_Text__And__Avenir_LT_Std_55_Roman__And__10pt__And__Underline {
font-size: 10pt;
text-decoration: underline !important;
color: #231F20;
letter-spacing: 0.50mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_15_CLOSEPAR_ {
color: #95A63A;
letter-spacing: 0.40mm;
}

.C_Current__And__Coloured_Text {
color: #FD8008;
}

.C_Current__And__Coloured_Text__OPENPAR_4_CLOSEPAR_ {
color: #408002;
}

.C_Current__And__Properties__And__Coloured_Text__And__Italic__OPENPAR_1_CLOSEPAR_ {
font-style: italic;
color: #231F20;
letter-spacing: 0.30mm;
}

.C_Current__And__Coloured_Text__And__Calibri__And__7pt__And__Bold {
font-weight: bold;
font-size: 7pt;
color: #231F20;
}

.C_Current__And__Properties__OPENPAR_15_CLOSEPAR_ {
letter-spacing: -0.50mm;
}

.C_Current__And__Properties__OPENPAR_16_CLOSEPAR_ {
letter-spacing: -0.60mm;
}

.C_Current__And__Coloured_Text_1 {
color: #408002;
}

.C_Current__And__Coloured_Text__OPENPAR_1_CLOSEPAR__1 {
color: #FD8008;
}

.C_Current__And__Coloured_Text__And__Adobe_Caslon_Pro_Bold__And__Bold__OPENPAR_1_CLOSEPAR_ {
font-weight: bold;
color: #95A63A;
}

.C_Current__And__Coloured_Text_2 {
color: #408002;
}

.C_Current__And__Coloured_Text__And__Bold_1 {
font-weight: bold;
color: #408002;
}

.C_Current__And__Coloured_Text__OPENPAR_4_CLOSEPAR__1 {
color: #FD8008;
}

.C_Current__And__Coloured_Text__And__Bold__OPENPAR_1_CLOSEPAR__1 {
font-weight: bold;
color: #FD8008;
}

.C_Current__And__Properties__And__Italic__OPENPAR_4_CLOSEPAR_ {
font-style: italic;
letter-spacing: 0.50mm;
}

.C_Current__And__Properties__And__Coloured_Text__OPENPAR_16_CLOSEPAR_ {
color: #231F20;
letter-spacing: 0.60mm;
}

.C_Current__And__Properties__And__Italic__OPENPAR_5_CLOSEPAR_ {
font-style: italic;
letter-spacing: 0.90mm;
}

.C_Current__And__Properties__And__Italic__OPENPAR_6_CLOSEPAR_ {
font-style: italic;
letter-spacing: -0.40mm;
}

.C_Current__And__Properties__And__Italic__OPENPAR_7_CLOSEPAR_ {
font-style: italic;
letter-spacing: 0.30mm;
}

.C_Current__And__White_Text__And__Calibri__And__8pt__And__Bold {
font-weight: bold;
font-size: 8pt;
color: #FFFFFF;
}

.C_Current__And__16pt {
font-size: 16pt;
}

.B_Simple_Box {
padding-left: 1.00mm;
padding-top: 1.00mm;
padding-right: 1.00mm;
padding-bottom: 1.00mm;
border-left-width: 1.00pt;
border-left-color: #000000;
border-left-style: solid;
border-top-width: 1.00pt;
border-top-color: #000000;
border-top-style: solid;
border-right-width: 1.00pt;
border-right-color: #000000;
border-right-style: solid;
border-bottom-width: 1.00pt;
border-bottom-color: #000000;
border-bottom-style: solid;
}

.B_Box1 {
padding-left: 0.00mm;
padding-top: 0.00mm;
padding-right: 0.00mm;
padding-bottom: 0.00mm;
width: 9%;
max-width: 100%;
max-height: 100%;
}

.B_Box2 {
padding-left: 0.00mm;
padding-top: 0.00mm;
padding-right: 0.00mm;
padding-bottom: 0.00mm;
width: 13%;
max-width: 100%;
max-height: 100%;
}

.B_Box3 {
padding-left: 0.00mm;
padding-top: 0.00mm;
padding-right: 0.00mm;
padding-bottom: 0.00mm;
width: 1%;
max-width: 100%;
max-height: 100%;
}

.B_Box4 {
padding-left: 0.00mm;
padding-top: 0.00mm;
padding-right: 0.00mm;
padding-bottom: 0.00mm;
width: 2%;
max-width: 100%;
max-height: 100%;
}

