<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Greg Crabtree</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>FC69EBB772B632A218EFBD4FE144F6DD</string>
		<key>cover-image-path</key>
		<string>OEBPS/images/cover.jpg</string>
		<key>package-file-hash</key>
		<string>15A60BB5D66BB2A678EEFB7B1DD68B8E</string>
		<key>publisher-unique-id</key>
		<string>978-1-60832-239-8</string>
		<key>unique-id</key>
		<integer>-1871848183545138136</integer>
	</dict>
	<key>itemName</key>
	<string>Simple Numbers, Straight Talk, Big Profits!</string>
	<key>playlistName</key>
	<string>Simple Numbers, Straight Talk, Big Profits!</string>
	<key>releaseDate</key>
	<string>2011-07-11</string>
</dict>
</plist>
