@font-face {
font-family: "EBGaramond";
src: url(FONT00000.ttf);
font-style: normal;
font-weight: bold;
}
@font-face {
font-family: "EBGaramond";
src: url(XXXXXXXXXXXXXXXX);
font-style: italic;
font-weight: bold;
}
@font-face {
font-family: "EBGaramond";
src: url(FONT00001.ttf);
font-style: italic;
font-weight: normal;
}
@font-face {
font-family: "EBGaramond";
src: url(FONT00002.ttf);
font-style: normal;
font-weight: normal;
}
.noindent {

margin-top: 0em;
margin-bottom: 0em;
text-indent: 0em;
}
.secbreak {
border-left: 0;
border-top: 0;
border-right: 0;
border-bottom: 1px solid;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: 45%;
margin-right: 45%;
}
.indent {

margin-top: 0em;
margin-bottom: 0em;
text-indent: 1.2em;
}
.copy {

font-size: 0.9em;
margin-top: 0em;
margin-bottom: 0em;
text-align: center;
}
.copy1 {

font-size: 0.9em;
margin-top: 0.8em;
margin-bottom: 0em;
text-align: center;
}
.copya {
margin-top: 5%;
margin-bottom: 0.2em;
text-align: center;
}
.ded {

margin-top: 15%;
margin-bottom: 0em;
margin-left: 5%;
margin-right: 5%;
text-align: center;
}
.ded1 {

margin-top: 1.2em;
margin-bottom: 0em;
margin-left: 5%;
margin-right: 5%;
text-align: center;
}
.h2 {

font-size: 1.1em;
font-weight: normal;
margin-top: 10%;
margin-bottom: 3em;
page-break-after: avoid;
text-align: center;
}
.ipadfp {
margin: 0;
height: 98vh;
text-align: center;
}
.imagefp {
margin: 0em;
height: 100%;
text-align: center;
}
.order {

margin-top: 0em;
margin-bottom: 0em;
text-indent: 0em;
}
ol.nlist {

list-style-type: decimal;
margin-top: 0em;
padding-left: 2.2em;
font-size: 0.9em;
margin-bottom: 0em;
}
.index-entries {
list-style-type: none;
margin-top: 1em;
margin-bottom: 0em;
padding-left: .01em;
}
.indexsubentry {
list-style-type: none;
margin-top: 0em;
margin-bottom: 0em;
padding-left: 1em;
}
.indextxt {

font-size: 0.8em;
margin-top: 1em;
margin-bottom: 0em;
text-indent: 0em;
text-align: left;
}
.indexmain {

font-size: 0.8em;
margin-top: 0em;
margin-bottom: 0em;
padding-left: 0.8em;
text-indent: -0.8em;
text-align: left;
}
.indexsub {

margin-top: 0em;
margin-bottom: 0em;
padding-left: 0.8em;
text-indent: -0.8em;
text-align: left;
}
.footnote1 {

font-size: .8em;
margin-top: 2em;
border-top: 1px solid;
padding-top: 0.5em;
margin-bottom: 0em;
text-indent: 0em;
}
sup.sup {
font-size: .75em;
vertical-align: super;
}
span.smallcaps {
text-transform: uppercase;
font-size: 0.75em;
}
.authorm {
font-family: "sans-serif", sans-serif;
margin-top: 3em;
font-size: 0.8em;
margin-bottom: 0em;
text-align: center;
}
.authors {
font-family: "sans-serif", sans-serif;
margin-top: 0em;
font-size: 1.2em;
margin-bottom: 0em;
text-align: center;
}
.authorm1 {
font-family: "sans-serif", sans-serif;
margin-top: 0em;
font-size: 0.8em;
margin-bottom: 0em;
text-align: center;
}
.adcardhead {

margin-top: 10%;
font-size: 0.9em;
margin-bottom: 1.2em;
text-align: center;
}
.adcardtxt {

margin-top: 0em;
margin-bottom: 0.5em;
text-align: center;
}
.adcardtxt1 {

margin-top: 0em;
margin-bottom: 0em;
text-align: center;
}
.copyno {

font-size: 0.9em;
margin-top: 1em;
margin-bottom: 0em;
text-indent: 0em;
}
.copyin {

font-size: 0.9em;
margin-top: 0em;
margin-bottom: 0em;
text-indent: 1.2em;
}
.h1a {

font-size: 1.4em;
font-weight: normal;
margin-top: 10%;
margin-bottom: 3em;
page-break-after: avoid;
text-align: center;
}
.att {

margin-top: 0.5em;
margin-bottom: 0em;
text-align: right;
}
.att1 {

margin-top: 0em;
margin-bottom: 0em;
text-align: right;
}
.imagept {
margin-top: 10%;
margin-bottom: 0em;
text-align: center;
}
.imagept1 {
margin-top: 2.5em;
margin-bottom: 2em;
text-align: center;
}
.epigraphpt {
margin-top: 0em;
margin-bottom: 0em;
text-indent: 0em;
}
.epi1 {

margin-top: 0em;
font-size: 0.9em;
margin-bottom: 0em;
text-align: center;
}
.epi2 {

margin-top: 2.5em;
font-size: 0.9em;
margin-bottom: 0em;
text-align: center;
}
.epiatt {

margin-top: 1em;
font-size: 0.9em;
margin-bottom: 0em;
text-align: center;
}
span.under {
font-weight: bold;
font-size: 0.8em;
border-bottom: solid 1px #9c9fa1;
}
span.heading_break {
margin-top: 1em;
margin-bottom: 0em;
display: block;
font-size: 1.2em;
}
.h1 {

font-size: 2.1em;
font-weight: normal;
margin-top: 10%;
margin-bottom: 0.5em;
page-break-after: avoid;
text-align: center;
}
.imagept2 {
margin-top: 0em;
margin-bottom: 2em;
text-align: center;
}
div.box1 {
border: double 5px #9c9fa1;
padding: .49em;
margin-top: 0em;
margin-bottom: 2em;
margin-left: .3em;
margin-right: .3em;
}
div.box2 {
border: double 5px #9c9fa1;
padding: .49em;
margin-top: 1.5em;
margin-bottom: 1.5em;
margin-left: .3em;
margin-right: .3em;
}
.table1 {
margin-top: 0.5em;
margin-bottom: 0.5em;
border-spacing: 0;
width: 100%;
}
.table1 td {
padding: .08em .08em 0em .08em;
}
.tabcap {

margin-top: 0em;
font-size: 0.9em;
margin-bottom: 0.5em;
margin-left: 1.2em;
font-weight: bold;
text-indent: 0em;
text-align: left;
}
.tdpara {

margin-top: 0em;
margin-left: 1.2em;
font-size: 0.9em;
margin-bottom: 0em;
text-indent: 0em;
text-align: left;
}
.tdparab {

margin-top: 0em;
margin-left: 1.2em;
font-size: 0.9em;
margin-bottom: 1em;
text-indent: 0em;
text-align: left;
}
.tdparan {

margin-top: 0em;
font-size: 0.9em;
margin-bottom: 0em;
text-indent: 0em;
text-align: left;
}
.tdparanb {

margin-top: 0em;
font-size: 0.9em;
margin-bottom: 1em;
text-indent: 0em;
text-align: left;
}
.tdpara1 {

margin-top: 1em;
font-size: 0.9em;
margin-bottom: 0em;
margin-left: 1.2em;
text-indent: 0em;
text-align: left;
}
.tdright {

margin-top: 0em;
margin-right: 0.3em;
font-size: 0.9em;
margin-bottom: 0em;
text-align: right;
}
.tdrightb {

margin-top: 0em;
margin-right: 0.3em;
font-size: 0.9em;
margin-bottom: 1em;
text-align: right;
}
.tdright1 {

margin-top: 1em;
margin-right: 0.3em;
font-size: 0.9em;
margin-bottom: 0em;
text-align: right;
}
.tdparax {

margin-top: 0em;
font-size: 0.9em;
margin-bottom: 0em;
text-indent: 0em;
text-align: left;
}
.tdparaxb {

margin-top: 0em;
font-size: 0.9em;
margin-bottom: 1em;
text-indent: 0em;
text-align: left;
}
.tdmill {

margin-top: 0em;
margin-left: 1.2em;
font-size: 0.9em;
margin-bottom: 0.5em;
text-indent: 0em;
text-align: left;
}
.line100 {
vertical-align: top;
width: 100%;
}
.line70 {
vertical-align: top;
width: 70%;
}
.line30 {
vertical-align: top;
width: 30%;
}
.line70b {
vertical-align: top;
border-bottom: solid 1px;
width: 70%;
}
.line65b {
vertical-align: top;
border-bottom: solid 1px;
width: 65%;
}
.line65 {
vertical-align: top;
width: 65%;
}
.line30b {
vertical-align: top;
border-bottom: solid 1px;
width: 30%;
}
.line5 {
vertical-align: top;
width: 5%;
}
.centerx {

margin-top: 1em;
font-size: 0.9em;
margin-bottom: 1em;
text-align: center;
}
.table2 {
margin-top: 1em;
margin-bottom: 1em;
border-spacing: 0;
width: 100%;
}
.table2 td {
padding: .08em .08em 0em .08em;
}
.line10 {
vertical-align: top;
width: 10%;
}
.line90 {
vertical-align: top;
width: 90%;
}
.table3 {
margin-top: 1em;
margin-bottom: 1em;
border-collapse: collapse;
border-spacing: 0;
width: 100%;
}
.table3 td {
padding: .08em .08em 0em .08em;
}
.table4 {
margin-top: 1em;
margin-bottom: 0em;
border-collapse: collapse;
border-spacing: 0;
width: 100%;
}
.table4 td {
padding: .08em .08em 0em .08em;
}
.tabcapc {

margin-top: 0em;
font-size: 0.9em;
margin-bottom: 0.5em;
font-weight: bold;
text-align: center;
}
.line35 {
vertical-align: top;
width: 30%;
}
.line15 {
vertical-align: top;
width: 15%;
}
.line35a {
vertical-align: top;
border-left: solid 1px;
width: 30%;
}
.line35ab {
vertical-align: top;
border-left: solid 1px;
border-bottom: solid 1px;
width: 30%;
}
.line35b {
vertical-align: top;
border-bottom: solid 1px;
width: 30%;
}
.line15b {
border-bottom: solid 1px;
vertical-align: top;
width: 15%;
}
.tdpara3 {

margin-top: 0em;
margin-left: 0.5em;
font-size: 0.9em;
margin-bottom: 0em;
text-indent: 0em;
text-align: left;
}
.tdpara3b {

margin-top: 0em;
margin-left: 0.5em;
font-size: 0.9em;
margin-bottom: 1em;
text-indent: 0em;
text-align: left;
}
.tdright3b {

margin-top: 0em;
margin-right: 0.3em;
font-size: 0.9em;
margin-bottom: 1em;
text-align: right;
}
.tdhead3 {

margin-top: 0em;
margin-left: 0.5em;
font-weight: bold;
font-size: 0.9em;
margin-bottom: 0em;
text-indent: 0em;
text-align: left;
}
.tdmill3 {

margin-top: 0em;
margin-left: 0.5em;
font-size: 0.9em;
margin-bottom: 0.5em;
text-indent: 0em;
text-align: left;
}
.tdmill4 {

margin-top: 0em;
font-size: 0.9em;
margin-bottom: 0.5em;
text-indent: 0em;
text-align: left;
}
.h1b {

font-size: 1.4em;
font-weight: normal;
margin-top: 10%;
margin-bottom: 2em;
page-break-after: avoid;
text-align: center;
}
.tdright3 {

margin-top: 0em;
margin-right: 0.3em;
font-size: 0.9em;
margin-bottom: 0em;
text-align: right;
}
.glist {

margin-top: 0em;
margin-bottom: 0em;
text-indent: 0em;
}
.gterm {

margin-top: 1em;
margin-bottom: 0em;
text-indent: 0em;
}
.gdef {

margin-top: 0em;
margin-bottom: 0em;
text-indent: 0em;
}
.gind {

margin-top: 0em;
margin-bottom: 0em;
text-indent: 1.2em;
}
.noindentm {

margin-top: 1em;
margin-bottom: 0em;
text-indent: 0em;
}
.indentm {

margin-top: 0em;
margin-bottom: 0em;
text-indent: 1.2em;
}
.stickup {

font-size: 3em;
line-height: 0em;
}
@media all{
  .stickup {
    font-size: 1.4em;
  }
}
 
