.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre2 {
  display: block;
  text-indent: 2em;
  margin: 0;
  padding: 0;
}
.calibre3 {
  color: #000;
  display: block;
  height: 2px;
  margin: 0.5em auto;
  border: currentColor inset 1px;
}
.calibre4 {
  color: blue;
}
.calibre5 {
  font-style: italic;
}
.calibre6 {
  font-weight: bold;
}
.calibre7 {
  display: block;
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
  margin: 1.5em 0 0.5em;
}
.calibre8 {
  font-style: italic;
  line-height: 1.2;
}
.calibre9 {
  display: block;
  list-style-position: outside;
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 1em;
}
.calibre10 {
  display: list-item;
  line-height: 1.25em;
  margin-bottom: 1em;
}
.calibre11 {
  display: list-item;
  line-height: 1.25em;
}
.calibre12 {
  display: block;
  list-style-position: outside;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 1em;
}
.calibre13 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre14 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre15 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 2em 0 0.5em;
}
.calibre16 {
  font-size: 0.83333em;
  line-height: normal;
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}
.calibre17 {
  display: block;
  list-style-position: outside;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 1em;
}
.calibre18 {
  display: block;
  list-style-position: outside;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 1em;
}
.calibre19 {
  line-height: 1.2;
  text-decoration: underline;
}
.calibre20 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
  border: black solid 1pt;
}
.calibre21 {
  text-decoration: underline;
}
.calibre22 {
  display: block;
  list-style-position: outside;
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 1em;
}
.calibre23 {
  display: block;
  list-style-position: outside;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 1em;
}
.calibre24 {
  height: auto;
  width: auto;
}
.calibre25 {
  font-size: 1em;
  line-height: normal;
  position: relative;
  top: -0.4em;
  vertical-align: baseline;
}
.col {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  padding: 1px;
}
.col1 {
  display: table-cell;
  text-align: right;
  vertical-align: inherit;
  padding: 1px;
}
.copy-firstpara {
  display: block;
  font-size: 0.83333em;
  text-indent: 0;
  margin: 20em 0 0.5em;
  padding: 0;
}
.firstpara {
  display: block;
  text-align: left;
  text-indent: 0;
  margin: 20em 0 0;
  padding: 0;
}
.firstpara1 {
  display: block;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.galley {
  display: block;
}
.grid {
  background-color: black;
  border-collapse: separate;
  border-spacing: 1px;
  display: table;
  font-family: serif;
  font-size: 1em;
  text-indent: 0;
  margin: 0;
}
.grid-content {
  background-color: white;
  display: table-cell;
  text-align: center;
  vertical-align: inherit;
  padding: 0.15em;
}
.grid-content1 {
  background-color: white;
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  padding: 0.15em;
}
.hanging {
  display: block;
  text-indent: -1.5em;
  margin: 0 0 0 1.5em;
  padding: 0;
}
.media-image-align-center-width-fixed {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.middle {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 0.5em 0;
  padding: 0;
}
.middle1 {
  display: block;
  font-size: 1.66667em;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 0.5em 0;
  padding: 0;
}
.note-item {
  display: block;
  font-size: 0.83333em;
  text-indent: -1em;
  margin: 0 0 0.25em 1em;
  padding: 0;
}
.paras-leading-line {
  display: block;
  margin-bottom: 1em;
  text-indent: 0;
}
.row {
  display: table-row;
  vertical-align: inherit;
}
.table-table-layout-align-auto-width-auto {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}
.tb {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  text-indent: 0;
  margin: 0 0 2em;
}
.tb-title-author {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 2em 0 1em;
  padding: 0;
}
.tb-title-sub {
  display: block;
  font-size: 1.66667em;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 1em 0 0;
  padding: 0;
}
.tc {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0 1em;
}
.tc-title-sub {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 0 0 1em;
  padding: 0;
}
.tc1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0 1em;
}
.th {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}
.title-block {
  clear: both;
  display: block;
  height: auto;
  text-align: center;
  margin: 3em 0 1em;
  padding: 1em 2em 0;
}
.title-block-book {
  clear: both;
  display: block;
  height: auto;
  text-align: center;
  margin: 3em 0 1em;
  padding: 1em 2em;
}
.toc-firstpara {
  display: block;
  text-indent: 0;
  margin: 0 0 0 40px;
  padding: 0;
}
.toc-middle {
  display: block;
  text-align: center;
  text-indent: 0;
  margin: 1em 0;
  padding: 0;
}
.tp {
  display: block;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0.67em 0 1em;
}
