@font-face {
	font-family: "Free Serif";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/FreeSerif.otf");
}
@font-face {
	font-family: "Free Serif";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/FreeSerifBold.otf");
}
@font-face {
	font-family: "Free Serif";
	font-style: italic;
	font-weight: bold;
	src: url("../fonts/FreeSerifBoldItalic.otf");
}
@font-face {
	font-family: "Free Serif";
	font-style: italic;
	font-weight: normal;
	src: url("../fonts/FreeSerifItalic.otf");
}
hr.transition {
	display: block;
	border: none;
	margin: 0;
}
div.height_100 {
	text-align: center;
	height: 100%;
	height: 98vh;
	max-height: 100%;
	max-width: 100%;
	clear: both;
}
img.fill_height {
	height: 100%;
}
div.width_100 {
	text-align: center;
	width: 100%;
	max-height: 100%;
	clear: both;
}
img.fill {
	width: 100%;
}
img.height_1em {
	height: 1em;
	vertical-align: middle;
}
img.height_2em {
	height: 2em;
	vertical-align: middle;
}
/* ===================== END DEFAULTS ==================*/
div.width_40 {
	text-align: center;
	max-height: 100%;
	margin: 1em 30%;
	clear: both;
}
div.width_80 {
	text-align: center;
	max-height: 100%;
	margin: 1em 10%;
	clear: both;
}
div.width_90 {
	text-align: center;
	max-height: 100%;
	margin: 1em 5%;
	clear: both;
}
table.Table-Style-1 {
	border-style: solid;
	border-width: 1px;
	margin: 1em 0;
}
td.Table-Style-1 {
	border: 1px solid;
	padding: 4px;
	vertical-align: top;
}
tr.Table-Style-1 {}
td.TCH {
	background-color: #ededed;
	border-bottom: 1px solid #757575;
	border-left: 0 solid #757575;
	border-right: 1px solid #757575;
	border-top: 1px solid #757575;
	padding: 5px;
}
td.Table-Body {
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
	padding: 5px;
}
p.x01-FM-Contents-BM-Head {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.75em;
	margin: 0.94em 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Contents-BM-Head-1 {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.75em;
	margin: 2.12em 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Contents-CT {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.8em;
	margin: 0.22em 0 0 2.67em;
	text-align: left;
	text-indent: -1.33em;
}
p.x01-FM-Contents-CT1 {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 0.8em;
	font-weight: bold;
	margin: 1.67em 0 0 2.67em;
	text-align: left;
	text-indent: -1.33em;
}
p.x01-FM-Contents-FM-Head {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.75em;
	margin: 0.94em 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Contents-PT {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.93em;
	font-weight: bold;
	margin: 1.43em 0 0.19em 0;
	page-break-after: avoid;
	text-align: left;
	text-indent: 0;
}
p.x01-FM-Copyright-Text {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 0.67em;
	margin: 0;
	text-align: center;
	text-indent: 0;
}
p.x01-FM-Copyright-Text-Space {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 0.67em;
	margin: 0.67em 0 0 0;
	text-align: center;
	text-indent: 0;
}
h1.x01-FM-Head {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1.15em;
	font-weight: bold;
	margin: 15% 0 1em 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
	border-bottom: thin solid;
	padding: 0 0 1em 0;
}
p.x01-FM-Head-First {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1.42em;
	font-variant: small-caps;
	font-weight: bold;
	margin:15% 0 1em 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
}
h1.x01-FM-Subhead {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1.15em;
	font-weight: bold;
	margin: 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
	border-bottom: thin solid;
	padding: 0 0 1em 0;
}
p.x02-PO-Body-Text {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.9em;
	margin: 0.33em 0 0 5%;
	text-align: justify;
	text-indent: 0;
}
p.x02-PO-List-Unnumbered-First {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.9em;
	margin: 0 5% 1.67em 5%;
	text-align: justify;
	text-indent: 0;
}
p.x02-Part-Body-Text {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.9em;
	margin: 0 5%;
	text-align: justify;
	text-indent: 1.33em;
}
p.x02-Part-Body-Text-FL {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.9em;
	margin: 0 5%;
	text-align: justify;
	text-indent: 0;
}
p.x02-Part-Body-Text-Ornament {
	color: #757575;
	font-family: sans-serif; /*Universal Std News w Comm Pi*/
	font-size: 1.5em;
	margin: .5em 5%;
	text-align: center;
	text-indent: 0;
}
/*May want to look at the style below*/
p.x02-Part-Epigraph {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 0.9em;
	font-style: italic;
	font-weight: bold;
	margin: 0 15%;
	text-align: left;
	text-indent: 0;
}
/*May want to look at the style below*/
p.x02-Part-Epigraph-Source {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: .7em;
	font-weight: bold;
	margin: 1.72em 18% 15% 18%;
	text-align: left;
	text-indent: -1em;
}
h1.x02-Part-Number {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 1.24em;
	font-weight: bold;
	margin: 0;
	text-align: center;
	text-indent: 0;
}
p.x02-Part-Numbered-List-First {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.9em;
	margin: 1.67em 5% 0 15%;
	text-align: justify;
	text-indent: -1.67em;
}
p.x02-Part-Numbered-List-Last {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.9em;
	margin: 0 5% 1.67em 15%;
	text-align: justify;
	text-indent: -1.67em;
}
h1.x02-Part-Title {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 1.78em;
	font-weight: bold;
	margin: 1em 0 1.2em 0;
	text-align: center;
	text-indent: 0;
}
p.x03-CO-Body-Text {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 1.87em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x03-CO-Body-Text:first-line {
	font-family: serif; /*Garamond Premr Pro*/
	font-variant: small-caps;
	text-transform: lowercase;
}
p.x03-Chapter-Epigraph {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 0.8em;
	font-style: italic;
	font-weight: bold;
	margin: 1em 5% 0 5%;
	text-align: left;
	text-indent: 0;
}
p.x03-Chapter-Epigraph-FL {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 0.8em;
	font-style: italic;
	font-weight: bold;
	margin: 1em 0 0 0;
	text-align: left;
	text-indent: 0;
}
p.x03-Chapter-Epigraph-Source {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 0.67em;
	font-weight: bold;
	margin: 0.67em 5% 0.53em 5%;
	text-align: left;
	text-indent: 0;
}
h2.x03-Chapter-Number {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.98em;
	font-weight: bold;
	margin: 15% 0 0.45em 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
}
h2.x03-Chapter-Title {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 1.6em;
	font-weight: bold;
	margin: 1em 0 0 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
	border-bottom: thin solid;
	padding: 0 0 1em 0;
}
p.x04-Body-Text {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 1.33em;
}
p.x04-Body-Text-FL {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
h3.x05-Head-A {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.91em;
	font-weight: bold;
	margin: 2.24em 0 0.78em 0;
	page-break-after: avoid;
	text-align: left;
	text-indent: 0;
}
p.x06-E-mail {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 0.8em;
	font-weight: bold;
	margin: 0 3.33em 1.67em 3.33em;
	text-align: left;
	text-indent: 0;
}
p.x06-E-mail-Text-First {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 0.8em;
	font-weight: bold;
	margin: 1.67em 3.33em;
	text-align: left;
	text-indent: 0;
}
p.x06-Extract {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0 1.33em 1.33em 1.33em;
	text-align: justify;
	text-indent: 1.33em;
}
p.x06-Extract-1P {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 1.33em;
	text-align: justify;
	text-indent: 0;
}
p.x06-Extract-FL {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 1.33em 1.33em 0 1.33em;
	text-align: justify;
	text-indent: 0;
}
li.x07-List-Bulleted {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Bulleted {
	font-size: 1em;
	margin: 0;
}
li.x07-List-Bulleted-First {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 1.33em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Bulleted-First {
	font-size: 1em;
	margin: 0;
}
h3.x07-List-Bulleted-Head {
	font-family: serif; /*Adobe Garamond Pro Bold*/
	font-size: 1.07em;
	font-style: italic;
	font-weight: bold;
	margin: 1.08em 0 0.17em 0;
	page-break-after: avoid;
	text-align: left;
	text-indent: 0;
}
li.x07-List-Bulleted-Last {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0 0 1.33em 0;
	text-align: justify;
	text-indent: 0;
}
p.x07-List-Bulleted-Last {
	font-size: 1em;
	margin: 0;
}
p.x07-List-First {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 1.33em 0 0 2.67em;
	text-align: justify;
	text-indent: -1.33em;
}
p.x07-List-Last {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0 0 1.33em 2.67em;
	text-align: justify;
	text-indent: -1.33em;
}
p.x07-List-Numbered {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0 0 0 2em;
	text-align: justify;
	text-indent: -1em;
}
p.x07-List-Numbered-First {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 1.33em 0 0 2em;
	text-align: justify;
	text-indent: -1em;
}
p.x07-List-Numbered-Last {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0 0 1.33em 2em;
	text-align: justify;
	text-indent: -1em;
}
p.x07-List-Unnumbered {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0 0 0.71em 2.4em;
	text-align: justify;
	text-indent: -1.07em;
}
p.x07-List-Unnumbered-First {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 1.33em 0 0.71em 2.4em;
	text-align: justify;
	text-indent: -1.07em;
}
p.x07-List-Unnumbered-Last {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0 0 1.33em 2.4em;
	text-align: justify;
	text-indent: -1.07em;
}
p.x08-Table-Body {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: .8em;
	margin: 0 0 0.5em 0;
	text-align: left;
	text-indent: 0;
}
p.x08-Table-Body1 {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: .8em;
	margin: 0 0 1.5em 0;
	text-align: left;
	text-indent: 0;
}
p.x08-Table-Column-Head {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: .8em;
	font-weight: bold;
	margin: 1em 0;
	text-align: left;
	text-indent: 0;
}
p.x10-Sidebar-Box-Text {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.82em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x10-Sidebar-Box-Text-First {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.82em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.x12-Caption-Credit {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 0.8em;
	margin: 1em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
h1.x13-BM-Ack-Head {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1.15em;
	font-weight: bold;
	margin: 15% 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
}
h2.x13-BM-Endnotes-Head-A {
	font-family: serif; /*Adobe Garamond Pro Bold*/
	font-size: 0.93em;
	font-weight: bold;
	margin: 0.95em 0 0.19em 0;
	text-align: justify;
	text-indent: 0;
}
h1.x13-BM-Head {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1.15em;
	font-weight: bold;
	margin: 15% 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
}




p.x14-Free-Style-7 {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.8em;
	margin: 0.89em 5%;
	text-align: center;
	text-indent: 0;
}
p.xFootnote-Text {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
p.xFootnote-part-text {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0 5%;
	text-align: justify;
	text-indent: 0;
}
p.xFootnote-text {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 0;
	text-align: justify;
	text-indent: 0;
}
span._2-PO-Epi-Source {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 0.67em;
	font-weight: bold;
}
i._2-PO-Epi-Source-Ital {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}
span._2-PO-Text-1st-Line-Run-In {}
i._3-Ch-Epi-ITAL {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}
span._3-Ch-Epi-REG {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1em;
	font-weight: bold;
}
i._5-Head-A-ITAL {
font-style:italic;
}
span._0-Sidebar-Box-Run-in {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 1.1em;
	font-variant: small-caps;
	font-weight: bold;
}
i._-CO-1st-LINE-ITAL-SCAP {
	font-family: serif; /*Garamond Premr Pro*/
	font-style: italic;
	font-variant: small-caps;
}
span._-sc {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-size: 0.89em;
	font-variant: small-caps;
	font-weight: bold;
}
b.Box_BOLD {
	font-weight: bold;
}
i.Box_ITAL {
	font-style: italic;
}
span.Endnote-Number {}

span.Footnote-reference {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
}
span.Footnote-reference-Run-In {
	font-family: serif; /*Adobe Garamond Pro*/
	vertical-align: super;
}
span.SCAP {
	font-family: serif; /*Adobe Garamond Pro*/
	font-variant: small-caps;
	text-transform: lowercase;
}
b.TG-BOLD-Run-In {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-weight: bold;
}
span.TG-HEAVY {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-weight: bold;
}
span.TG-HEAVY-CAPS {
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-weight: bold;
}
i.TG-ITAL {
	font-family: sans-serif; /*Trade Gothic Next LT Pro*/
	font-style: italic;
}
span.co {
	font-family: serif; /*Garamond Premr Pro*/
	font-style: italic;
	font-variant: small-caps;
	text-transform: lowercase;
}
span.free {
	font-family: "Free Serif", serif;
}
div.footnote {
	margin-top: 15%;
}
.Footnote-Reference {
	vertical-align: 0.25em;
	line-height: 0;
	font-size: 0.8em;
}
p.link_to_text {
	font-family: serif;
	font-size: 0.7em;
	margin: 1em 0 1.5em 0;
	text-align: left;
}
li.x13-BM-Endnotes {
	font-family: serif;
	font-size: 0.84em;
	margin: 0;
	text-align: left;
}
.Endnote-Reference {
	vertical-align: 0.25em;
	font-size: 0.8em;
	line-height: 0;
}
p.x13-BM-Endnotes {
	font-family: serif;
	font-size: 1em;
	margin: 0 0 0 0;
	text-align: left;
}
p.x13-BM-About-Au {
	font-family: serif; /*Adobe Garamond Pro*/
	font-size: 1em;
	margin: 1.5em 0 0 0;
	text-align: justify;
	text-indent: 0;
}
h1.x13-BM-About-Au-Head {
	color: #757575;
	font-family: sans-serif; /*Trade Gothic Next LT Pro Lt*/
	font-size: 1.15em;
	font-weight: bold;
	margin: 15% 0;
	page-break-after: avoid;
	text-align: center;
	text-indent: 0;
}
section.index-section {}
section.index-nav-bar {
	margin: 1em 0;
	page-break-inside: avoid;
	border-bottom: 2px solid #757575;
	border-top: 2px solid #757575;
	width: 100%;
}
span.index-nav-bar-letter {
	text-align: center;
	padding: 0.15em;
	color: #757575;
}
ul.index {
	list-style-type: none;
	font-size: 1em;
	padding: 0;
}
p.index-nav-bar {
	font-family: serif;
	font-size: 1em;
	margin: 0.1em;
	text-align: center;
	text-indent: 0;
	padding: 0.4em;
	line-height: 1.5em;
}
p.x13-BM-Index-Note {
	font-family: serif;
	font-size: 1em;
	margin: 0 0 1em 0;
	text-indent: 0;
}
h2.x13-BM-Index-Alpha {
	font-family: serif;
	font-size: 1.3em;
	margin: 2em 0 0 0;
	text-align: left;
	text-indent: 0;
	font-weight: bold;
	line-height: 1.3;
}
li.x13-BM-Index-1 {
	font-size: 1em;
	margin-left: 0;
}
p.x13-BM-Index-1 {
	font-family: serif;
	font-size: 1em;
	margin: 0.8em 0 0 2em;
	text-align: left;
	text-indent: -2em;
	line-height: 1.4;
}
li.x13-BM-Index-2 {
	font-size: 1em;
	margin-left: 0;
}
p.x13-BM-Index-2 {
	font-family: serif;
	font-size: 1em;
	margin: 0.8em 0 0 4em;
	text-align: left;
	text-indent: -2em;
	line-height: 1.4;
}
li.x13-BM-Index-3 {
	font-size: 1em;
	margin-left: 0;
}
p.x13-BM-Index-3 {
	font-family: serif;
	font-size: 1em;
	margin: 0.3em 0 0 6em;
	text-align: left;
	text-indent: -2em;
	line-height: 1.4;
}