.akkurat_regular {
    font-weight: normal
    }
.akkurat_regular1 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-weight: normal;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 1.2em 0 0
    }
.akkurat_regular2 {
    display: list-item;
    font-weight: normal;
    margin: 1.5em 0 0
    }
.akkurat_regular3 {
    display: block;
    font-weight: normal;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0.2em
    }
.akkurat_regular4 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-weight: normal;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 0
    }
.archer {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 1.4em;
    margin: 0
    }
.archer_quote {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-size: 1.41667em;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 1.2em 0 0
    }
.archer1 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-weight: 300;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 0
    }
.archer2 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 1.4em;
    margin: 1.2em 0 0
    }
.archer3 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 0 0 0 1.4em
    }
.attribution {
    font-size: 0.79412em;
    font-weight: normal
    }
.attribution1 {
    font-size: 0.83333em;
    font-weight: normal
    }
.body {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 2.8em;
    margin: 0
    }
.body1 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 0 0 0 2.8em
    }
.body2 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 2.8em;
    margin: 1.2em 0 0
    }
.calibre {
    display: block;
    font-size: 1em;
    font-weight: 300;
    orphans: 1;
    padding-left: 0;
    padding-right: 0;
    widows: 1;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 0
    }
.calibre3 {
    text-decoration: none;
    border-bottom: inherit dotted 1px
    }
.calibre4 {
    color: initial;
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0.2em;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre5 {
    text-decoration: none;
    border-bottom: currentColor none medium
    }
.calibre6 {
    display: list-item;
    margin: 1.5em 0 0
    }
.calibre7 {
    display: block
    }
.calibre8 {
    display: list-item
    }
.calibre9 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0.2em
    }
.captions {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 1em 0
    }
.center_quote {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-size: 1.41667em;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: center;
    margin: 1em 0
    }
.center_quote1 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-size: 2em;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: center;
    margin: 1em 0
    }
.coverimage {
    height: 95%;
    width: auto
    }
.footnote_ref {
    bottom: 0.4em;
    font-size: 0.66667em;
    padding-left: 0.2em;
    position: relative;
    border-bottom: currentColor none medium
    }
.footnote_ref1 {
    bottom: 0.4em;
    font-size: 0.675em;
    padding-left: 0.2em;
    position: relative;
    border-bottom: currentColor none medium
    }
.footnote_ref2 {
    bottom: 0.4em;
    font-size: 0.75em;
    padding-left: 0.2em;
    position: relative;
    border-bottom: currentColor none medium
    }
.fullimage {
    display: block;
    height: 95%;
    text-align: center
    }
.headings {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.8rem;
    margin: 0 0 1.2em
    }
.idea {
    display: block;
    border: #000 solid 2px;
    padding: 1em;
    margin: 1em 0
    }
.idea_title {
    display: block;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 1em
    }
.italic {
    font-style: italic
    }
.partial_img {
    height: auto;
    text-align: center;
    width: 100%
    }
.partial_img_ {
    height: auto;
    text-align: center;
    width: 75%
    }
.partial_img_1 {
    height: auto;
    text-align: center;
    width: 40%
    }
.partial_img_2 {
    height: auto;
    text-align: center;
    width: 80%
    }
.partialimg {
    display: block;
    page-break-inside: avoid;
    text-align: center;
    width: 100%;
    margin: 2em 0
    }
.pic_creds {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.6em;
    text-align: left;
    margin: 1em 0 0
    }
.pull_list {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.pull_section {
    display: block;
    border: black solid 1px;
    padding: 1em;
    margin: 1em 0
    }
.serif_title {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 1.5em
    }
.sidebar_bios {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-size: 0.75em;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.6em;
    text-align: left;
    margin: 2em 0
    }
.sidebar_marker {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-style: italic;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 1em 0
    }
.sidebar_marker1 {
    font-style: italic;
    margin: 1em 0
    }
.sp {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    text-align: justify;
    margin: 1.2em 0 0
    }
.sp1 {
    display: list-item;
    margin: 1.2em 0 0
    }
.supporting {
    display: block;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin: 1.5em 0 1em
    }
.tpwaitc_bios {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.6em;
    text-align: justify;
    margin: 2em 0
    }
