.akkurat_regular {
    font-weight: normal
    }
.akkurat_regular1 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-weight: normal;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: justify
    }
.akkurat_regular2 {
    display: list-item;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em
    }
.akkurat_regular3 {
    display: block;
    font-weight: normal;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em
    }
.akkurat_regular4 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-weight: normal;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.archer {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.archer_quote {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-size: 1.29167em;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: justify
    }
.archer1 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-weight: 300;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.archer2 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: justify;
    text-indent: 1.4em
    }
.archer3 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 1.4em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.attribution {
    font-size: 1em;
    font-weight: normal
    }
.attribution1 {
    font-size: 0.83333em;
    font-weight: normal
    }
.body {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.8em
    }
.body1 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 2.8em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.body2 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: justify;
    text-indent: 2.8em
    }
.calibre {
    display: block;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    orphans: 1;
    padding-left: 0;
    padding-right: 0;
    widows: 1
    }
.calibre1 {
    display: block
    }
.calibre2 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.calibre3 {
    border-bottom-color: inherit;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    text-decoration: none
    }
.calibre4 {
    color: initial;
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre5 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    text-decoration: none
    }
.calibre6 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em
    }
.calibre7 {
    display: list-item
    }
.calibre8 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em
    }
.captions {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.center_quote {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-size: 1.29167em;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.center_quote1 {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-size: 2em;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.coverimage {
    height: 95%;
    width: auto
    }
.footnote_ref {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    bottom: 0.4em;
    font-size: 0.58065em;
    padding-left: 0.2em;
    position: relative
    }
.footnote_ref1 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    bottom: 0.4em;
    font-size: 0.775em;
    padding-left: 0.2em;
    position: relative
    }
.footnote_ref2 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    bottom: 0.4em;
    font-size: 0.75em;
    padding-left: 0.2em;
    position: relative
    }
.fullimage {
    display: block;
    height: 95%;
    text-align: center
    }
.headings {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.8rem;
    margin-bottom: 1.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.idea {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 2px;
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.idea_title {
    display: block;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.italic {
    font-style: italic
    }
.partial_img {
    height: auto;
    text-align: center;
    width: 100%
    }
.partial_img_ {
    height: auto;
    text-align: center;
    width: 75%
    }
.partial_img_1 {
    height: auto;
    text-align: center;
    width: 40%
    }
.partial_img_2 {
    height: auto;
    text-align: center;
    width: 80%
    }
.partialimg {
    display: block;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    page-break-inside: avoid;
    text-align: center;
    width: 100%
    }
.pic_creds {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.6em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.pull_list {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.pull_section {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.serif_title {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.sidebar_bios {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-size: 0.75em;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.6em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: left
    }
.sidebar_marker {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    font-style: italic;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.sidebar_marker1 {
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.sp {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: justify
    }
.sp1 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em
    }
.supporting {
    display: block;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: center
    }
.tpwaitc_bios {
    -ms-hyphenate-limit-chars: 6 3 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-lines: 3;
    -webkit-hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-lines: 3;
    display: block;
    hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-last: always;
    hyphenate-limit-lines: 3;
    line-height: 1.6em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: justify
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Akkurat";
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Akkurat";
    font-style: italic;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Akkurat";
    font-style: normal;
    font-weight: 300;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Akkurat";
    font-style: italic;
    font-weight: 300;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Archer";
    font-style: normal;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Archer";
    font-style: italic;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Archer";
    font-style: bold;
    font-weight: normal;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Archer";
    font-style: normal;
    font-weight: 300;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Archer";
    font-style: italic;
    font-weight: 300;
    src: url(styles/XXXXXXXXXXXXXXXX)
    }

